// styles specific to index pages

.marketplace-homepage-heading {

  background-color: govuk-colour("blue");
  width: 100%;
  margin: -10px 0 0;
  padding: 40px 0 40px;
  color: white;

  h1 {
    @include govuk-width-container;
    @include govuk-font(48, $weight: bold);
    padding-top: 7px;
    padding-bottom: 13px;
  }

  .phase-banner {
    border-bottom: 0px;

    .phase-tag {
      margin-left: 3px;
    }
  }

  .phase-banner p {
    margin: -6px 0 10px;
    color: white;

    .phase-tag {
      color:  govuk-colour("blue");
      background-color: white;
    }

    a, a:visited {
        color: govuk-colour("white");
    }

    a:hover, a:active {
      color: govuk-colour("light-blue");
    }
  }
}
