
{% extends "_base_page.html" %}

{% block pageStyles %}
<style>.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .app-task-list {
    min-width: 550px;
  }
}

.app-task-list__section {
  display: table;
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.11111;
}

@media print {
  .app-task-list__section {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__section {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media print {
  .app-task-list__section {
    font-size: 18pt;
    line-height: 1.15;
  }
}

.app-task-list__section-number {
  display: table-cell;
}

@media (min-width: 40.0625em) {
  .app-task-list__section-number {
    min-width: 30px;
    padding-right: 0;
  }
}

.app-task-list__items {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 40px;
  list-style: none;
  padding-left: 0;
}

@media print {
  .app-task-list__items {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-task-list__items {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    margin-bottom: 60px;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    padding-left: 30px;
  }
}

.app-task-list__item {
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-task-list__item:after {
  content: "";
  display: block;
  clear: both;
}

.app-task-list__item:first-child {
  border-top: 1px solid #b1b4b6;
}

.app-task-list__task-name {
  display: block;
}

@media (min-width: 28.125em) {
  .app-task-list__task-name {
    float: left;
  }
}

.app-task-list__task-completed {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #00703c;
}

@media (min-width: 28.125em) {
  .app-task-list__task-completed {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.app-task-list__task-incomplete {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #f3f2f1;
  color: #0b0c0c;
}

@media (min-width: 28.125em) {
  .app-task-list__task-incomplete {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.app-task-list .govuk-tag {
  text-transform: none;
}
</style>
{% endblock %}

{% block pageTitle %}
  Optional Questions Mockup - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
  "items": [
    {
      "href": url_for('main.index'),
      "text": "Digital Marketplace"
    },
    {
      "href": "/optional",
      "text": "Optional Questions mockup"
    },
    {
      "href": "/optional/task-list",
      "text": "Task list"
    }
  ]
}) }}
{% endblock breadcrumb %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Service name goes here
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Check before you start
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-completed">
                  Check eligibility
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-completed">
                  Read declaration
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Prepare application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-completed">
                  Company information
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-incomplete" id="company-information-completed">To do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-completed">
                  Your contact details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-incomplete" id="contact-details-incomplete">To do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-completed">
                  List convictions (optional)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-incomplete" id="convictions-incomplete">Optional</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="evidence-optional">
                  Provide financial evidence (optional)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-incomplete" id="evidence-optional">Optional</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="medical-optional">
                  Give medical information
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-incomplete" id="medical-incomplete">To do</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Apply
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/optional">
                  Submit and pay
                </a>
              </span>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>
{% endblock %}
