
{% extends "_base_page.html" %}
{% from "govuk-frontend/components/radios/macro.njk" import govukRadios %}
{% from "govuk-frontend/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Optional Questions Mockup - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
  "items": [
    {
      "href": url_for('main.index'),
      "text": "Digital Marketplace"
    },
    {
      "href": "/optional",
      "text": "Optional Questions mockup"
    },
    {
      "href": "/optional/page-2",
      "text": "One per page, page 2"
    }
  ]
}) }}
{% endblock breadcrumb %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form>
        {{ govukRadios({
          "idPrefix": "where-do-you-live",
          "name": "where-do-you-live",
          "fieldset": {
            "legend": {
              "text": "Where do you want to live? (optional)",
              "isPageHeading": true,
              "classes": "govuk-fieldset__legend--l"
            }
          },
          "items": [
            {
              "value": "england",
              "text": "England"
            },
            {
              "value": "scotland",
              "text": "Scotland"
            },
            {
              "value": "wales",
              "text": "Wales"
            },
            {
              "value": "northern-ireland",
              "text": "Northern Ireland"
            }
          ]
        }) }}

        {{ govukButton({
          "text": "Continue",
          "href": "/optional"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
