{% from "digitalmarketplace/components/expander/macro.njk" import dmExpander%}

{% set content %}
  {% from 'search/_categories.html' import top_level_link, category_list %}
  {{ category_list([category_tree_root]) }}
{% endset %}

<div id="js-dm-live-search-categories" class="js-dm-live-search-fade">
  <div class="lot-filters">
    {{ dmExpander({
      "title": "Choose a category",
      "id": "all-categories",
      "openOnLoad": True,
      "content": content,
      "selectedMessage": "1 selected" if search_query.lot
    })}}
  </div>
</div>
